<div class="card show" style="width: 18rem;">

   <%= image_tag @pin.image.url(:medium) %>

  <div class="card-body show">
     
    <%= @pin.description %><br/>
    <%= @pin.user.name %>

    <p>
      <% if @pin.user == current_user %>
        <%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-primary btn-sm" %><br/> 
      <% end %>

      <%= link_to 'Back', pins_path %>
    </p>

  </div>
  
</div>
    
  
